doctype html
html(lang='fr')
  head
    title="Test Box's style"

    link(rel='stylesheet' type='text/css' href='../css/box.css')

  body

    section.box
      nav.boxMenu
        ul
          li.listBoxMenu #1
          li.listBoxMenu
            img(src='../../images/menu.gif')
            ul.boxSubMenu
              li 
                a(href='#') Add Box Before
                  i (shortcut)
              li 
                a(href='#') Add Box After
                  i (shortcut)
              li 
                a(href='#') Change Box Type
                  i (shortcut)
        