doctype html
html(lang='fr')
  head
    title="Test Box's style"

    link(rel='stylesheet' type='text/css' href='../css/box.css')

  body
    section.box
      nav.boxTopMenu
        ul.ulMenu
          li.itemTopMenu
            a(src='#')
            img(src='../../images/menu.gif' height='35px' width='35px').imgToMenu
            section.subMenu
              ul.ulMenu
                li "item1"
                li "item2" 
                li "item3"
                        
      p.
        