doctype html
html(lang='fr')
  head
    title="Test Box's style"

    link(rel='stylesheet' type='text/css' href='../css/box.css')

  body
    section.box
      nav.boxTopMenu
        ul.mainMenu
          li
            img(src='../../images/menu.gif' height='35px' width='35px').imgToMenu
            ul.subMenu
                  li 
                    a(href='#') Change mode
                  li 
                    a(href='#') Change Type
                  li 
                    a(href='#') Insert Before
                  li 
                    a(href='#') Insert After
                  li
                    a(href='#') Clean Box
      p.
        