doctype html
html(lang='fr')
  head
    title="Test Box's style"

    link(rel='stylesheet' type='text/css' href='../css/box.css')

  body
    section.box
      nav.boxTopMenu
        ul
          li
            img(src='../../images/menu.gif' height='35px' width='35px').imgToMenu
            ul.subMenu
                  li Test1
                  li Test2
                  li Test3
                  li Test4
      p.
        