html(lang='fr')
  head
    title=BoXed

    link(rel='stylesheet' href='css/general.css' style='text/css')
    link(rel='stylesheet' href='css/box.css' style='text/css')
      
    script(src='../bower_components/jquery/dist/jquery.js' type='text/javascript')
    script(src='scripts/draw.js' type='text/javascript')

  body
    nav.menu
      section.container
        ul
          li.listMenu
            img(src='../images/menu.gif')
            ul.subMenu
              li 
                a(href='#' onclick='drawnBox(1)') Add Box
                  i#shortcut (shortcut)
              li 
                a(href='#') Save Document
                  i#shortcut (shortcut)
              li 
                a(href='#') Load Document              
                  i#shortcut (shortcut)
              
    section.container#page
        