html(lang='fr')
  head
    title=BoXed

    link(rel='stylesheet' href='css/general.css' style='text/css')
    link(rel='stylesheet' href='css/box.css' style='text/css')
    link(rel='stylesheet' href='./../bower_components/codemirror/lib/codemirror.css' style='text/css')

    script(src='../node_modules/grunt-contrib-requirejs/node_modules/requirejs/require.js' data-main='../final/scripts/BoXed' type='text/javascript')

  body
    nav.menu
      section.container
        ul
          li.listMenu
            img(src='../images/menu.gif')
            ul.subMenu
              li 
                a(href='#' onclick='BoXed.addBox("markdown")') Add Box
                  i#shortcut (shortcut)
              li 
                a(href='#') Save Document
                  i#shortcut (shortcut)
              li 
                a(href='#') Load Document              
                  i#shortcut (shortcut)
              
    section.container#page
        