html(lang='fr')
  head
    title=BoXed
    link(rel='stylesheet' href='css/general.css' style='text/css')

  body
    nav.menu
      section.container
        ul
          li.listMenu
            img(src='../images/menu.gif')
            ul.subMenu
              li 
                a(href='#') Add Box
                  i#shortcut (raccourcis)
              li 
                a(href='#') Save Document
                  i#shortcut (raccourcis)
              li 
                a(href='#') Load Document              
                  i#shortcut (raccourcis)
              
      section.container#page
        