doctype html

link(rel="stylesheet",href="boxstyle1.css",type="text/css")


ul#menu
  li: a(href="#"): Item 1
  li: a(href="#"): Item 2
  li: a(href="#"): Item 3
  ul
    li: a(href="#"): Item 3.1
    li: a(href="#"): Item 3.2
    li: a(href="#"): Item 3.3
 
div#box1.boxlib.box.htmlview
  | Hello <strong>cruel</strong> cruel world !


div#box2.boxlib.box.textedit
  textarea
    | Edit me.

