.box
  margin 10px auto 0px auto
  border 1px solid #c1c1c1

  -webkit-animation boxAppear 1.5s
  animation boxAppear 1.5s
  animation-fill-mode forwards
  -webkit-animation-fill-mode forwards

  &:hover
    border 1px solid #c1c1c1

nav.boxMenu
  height 40px
  
nav.boxMenu
  ul
    margin 0 0 0 0
    padding 0 0 0 0
    list-style-type none

li.listBoxMenu
  display inline-block
  position relative
  float right

li.listBoxMenuLeft
  float left
  display inline-block
  position relative
  padding 10px 0px 0px 10px
  font-family Arial

ul.boxSubMenu
  position absolute
  border 1px solid #C2C2C2
  width 250px
  top 40px
  left -150px
  li 
    height 30px
    padding 17px 10px 10px 10px
    text-align center
    margin 0px 20px 0px 20px
    a
      text-align justify
      i#shortcut
        font-size 8pt
        float right

li.listBoxMenu
  ul.boxSubMenu
    visibility hidden
  &:hover
    ul.boxSubMenu
      visibility visible
      -webkit-animation moveBoxSub .5s
      animation moveBoxSub .5s

.boxInside
  width 100%

@keyframes moveBoxSub
  from 
    top 10px
    opacity 0
  to
    top 40px
    opacity 1

@keyframes boxAppear
  from
    width 0
    min-height 0
    border 1px solid #c1c1c1
  to
    width 90%
    min-height 200px
      