.box
  width 600px
  height 300px
  display: block
  .boxTopMenu
    height 35px
    width 100%
  img
    visibility hidden
  &:hover
    box-shadow 0px 0px 10px 0px #cfcfcf
    .boxTopMenu
      height 35px
      width 100%
      box-shadow 0px 0px 5px 0px #cfcfcf
      .topMenu
        height 35px
        width 35px
        display block
        border 5px
    img
      visibility visible

.ulMenu
    list-style-type none
    .itemTopMenu
      float right
      margin-right 10px
    
.boxFixed
  box-shadow 0px 0px 10px 0px #cfcfcf