body
  height 100%

body
nav.menu
  width 100%

nav.menu
  height 50px

body
nav.menu
ul
  margin 0 0 0 0
  padding 0 0 0 0

.container
  width 80%
  height 100%
  margin 0 auto 0 auto

nav.menu
  ul
    list-style-type none
    float right

li.listMenu
  display inline-block
  position relative

ul.subMenu
  position absolute
  border 1px solid #C2C2C2
  background-color #FFFFFF
  width 300px
  left -200px
  li 
    height 30px
    padding 17px 10px 10px 10px
    text-align center
    margin 0px 20px 0px 20px
    a
      text-align justify
      i#shortcut
        font-size 8pt
        float right

a
  text-decoration none
  font-family Arial
  color #323232

li.listMenu
  ul.subMenu
    visibility hidden
    opacity 0 
    top 10  
    z-index : 100

    transition opacity linear .3s, top linear .3s, visibility linear .3s
    -webkit-transition visibility linear .2s, opacity linear .2s, top linear .2s
    -o-transition opacity linear .3s, top linear .3s, visibility linear .3s
    -moz-transition opacity linear .3s, top linear .3s, visibility linear .3s

  &:hover
    ul.subMenu
      top 40px
      visibility visible
      opacity 1
      z-index : 100

      -webkit-transition visibility linear .2s, opacity linear .2s, top linear .2s