fbody
#document
  height 100%
    
body
#document
#globalMenu
  width 100%

body
#globalMenu
.listerMenu
  margin 0px
  padding 0px

#globalMenu
  height 35px
  border-bottom 1px solid #000000
  font-family Arial
  font-size 11pt
    
.menuIcon
  width 15px
  height 15px 
    
.commandName
.menuIcon
.elemMenu
  display inline-block
  font-family Arial
  font-size 11pt
    
.elemMenu
  float right
  padding 10px 20px 0px 20px
  a
    color #000000
    text-decoration none
  .subMenu
    visibility hidden
  &:hover
    .subMenu
      visibility visible
      z-index 10
    &:hover
      visibility visible
      z-index 10

#menuContainer
  width 80% 

#menuContainer
#boxes
  margin 0px auto 0px auto
    
#boxes
  width 80%  
    
.subMenu
  position absolute
  border 1px solid #000000
  background-color #ffffff
  padding 10px 10px 0px 10px
    
.subElemMenu
  margin 0px 10px 10px 10px
  list-style-type none
  font-family Arial
  font-size 11pt
    
.box
  margin-top 10px
  min-height 3em 
  &:hover
    .boxContent
      border 1px solid #C2C2C2
    
.boxMenu
  height 35px
    
.elemMenuId
  display inline-block
  font-family Arial
  font-size 11pt
  float left
  padding 10px 20px 0px 20px
  a
    color #000000
    text-decoration none
        
.boxContent
  border 1px solid #FFFFFF
  padding 5px 10px 5px 10px
  border-radius 5px

.CodeMirror-scroll
.boxContent
  min-height 3em  

.CodeMirror-scroll
  overflow-y: hidden
  overflow-x: auto
    
.select
  border 1px solid #C2C2C2
    
.visible
  visibility visible

.unvisible
  visibility hidden
    
.contentHidden
  visibility hidden
  position absolute
  z-index -1

.contentVisible
  visibility visible
    
#shadeCover
  position absolute
  width 100% 
  height 100%
  margin 0
  padding 0
  background-color rgba(32,44,36, 0.5)
  z-index 100
    
.shadeElement
  width 500px
  margin 10% auto 0px auto
  padding 10px
  opacity 1.0
  background-color #ffffff
  border-radius 10px
  border 1px #202C2E
  a
    color #000000
    text-decoration none 

.titleShade
  font-family Arial
  font-size 11pt

.inputText
  border-radius 10px 
  border 1px solid #eeeeee
  width 250px  
  
.textBox
  font-family Arial
