body
header
  width 100%
  margin 0px
  padding 0px

header
  height 35px
  -moz-box-shadow: 0px 30px 100px 0px #eeeeee;
  -webkit-box-shadow: 0px 30px 100px 0px #eeeeee;
  -o-box-shadow: 0px 30px 100px 0px #eeeeee;
  box-shadow: 0px 30px 100px 0px #eeeeee;

.container
  width 80% 
  margin 0px auto 0px auto

.boxMenu
  height 25px
  widht 100%
    img
      height 20px

.menu
  margin 0 0 0 0
  padding 0 0 0 0
  font-family Arial

.elem
.elem_left
  display inline-block
  list-style-type none
  margin 3px 10px 0px 0px

.elem
  float right

.elem-left
  float left
    
.boxSelect
  margin-top 10px
  border: 1px solid #eeeeee
  width 100%

.box
  width 100%
  margin-top 10px
  &:hover
    width 100%
    border: 1px solid #eeeeee

.content
  width 100%
  height auto

.imgBoxMenu
  height 20px